{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <h1>Welcome to the 4hsl33p team page!</h1>
    </div>
    <div class="row justify-content-center mt-2">
        <p>Here you can find some tasks for training that will be supplemented in the future.</p>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="d-flex p-2 justify-content-center">Links:</div>
        <div class="d-flex p-2 justify-content-center"><a href="https://vk.com/gumrf_ctf">VK</a></div>
        <div class="d-flex p-2 justify-content-center"><a href="https://ctftime.org/team/119721">CTF TIME</a></div>
        <div class="d-flex p-2 justify-content-center"><a href="https://t.me/JayseSs">Main smesharik</a></div>
    </div>
</div>
{% endblock %}